
#Acomodador{background-color: rgba(0, 0, 0, 0.801); display: flex; flex-direction: column;
justify-content: center;width: 38%; margin: 0 auto;
margin-top: 20%; border: var(--box-border); position: fixed; }


.Imagenmodal{ width: 80px; height: 80px; float: left;  margin-left: 2%;  margin: 0 15px 15px 0; }
 
.spanmd{
   color: var(--color-texto);
   text-align: right; color: var(--color-texto); font-size: 15px; justify-content: space-between;
  padding: 5%; font-family: var(--font-krona-one);}

  .ListaLIModal {
  display: flex;
  align-items: center;  
  gap: 10px;            
}
#cerrar{padding: 3%; background-color: rgba(3, 66, 19, 0.699);  color: var(--color-texto);
 margin: 3px;
margin-top: 5px; font-size: 20px;}